@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-white text-gray-900;
}

/* Write your own custom component styles here */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #10B981;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
